html{
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.259);
  backdrop-filter: blur(1px);
  transition: background 0.3s ease;
}

.navbar{
  padding: 20px 0;
}

.logo {
  color: white !important;
  font-size: 28px;
  font-weight: bold;
}

.navbar-nav .nav-link{
  color: white !important;
  margin-left: 25px;
  transition: .3s;
}

.navbar-nav .nav-link:hover{
  color: orange !important;
}

.navbar-toggler{
  border-color: white;
}

.navbar-toggler-icon{
  filter:invert(1)
}

.hero {
  background-image: url("images/hero.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100%;
}

.hero-text {
  color: white;
  padding-top: 220px;
  width: 100%;
  max-width: 500px;
}

.hero-text h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero-text p {
  margin: 20px 0;
}

.button {
  display: inline-block;
  background: #f9b64b;
  color: white;
  text-decoration: none;
  padding: 14px 30px;
  border-radius: 30px;
  transition: .3s;
}

.button:hover {
  background: #222;
}

.services {
  background: ivory;
  padding: 100px 0;
}

.section-title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 60px;
  color: #222;
}

.service-blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 15px 5px;
  overflow: visible;
}

.skills h2{
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 8px;
  color: black;
  font-size: 16px;
}
.skills h2:first-child{
  margin-top: 0;
}

.skill-bar{
  background: #959595;
  width: 100%;
  height: 10px;
  border-radius: 5px;
}

.skill-fill{
  position: relative;
  height: 10px;
  border-radius: 5px;
  width: 0%;
  background: orange;
}

.skill-fill span{
  position: absolute;
  right:-18px;
  top: -14px;

  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #fd7803;
  margin-top: -15px;
  margin-right: -20px;
  color:#333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photography{
  animation: photography 1s ease-out forwards;
}

.wedding{
  animation: wedding 1s ease-out forwards;
}

.events{
  animation: events 1s ease-out forwards;
}

.conferences{
  animation: conferences 1s ease-out forwards;
}

@keyframes photography {
  100%{width: 89% }
}

@keyframes wedding {
  100%{width: 75% }
}

@keyframes events {
  100%{width: 94% }
}

@keyframes conferences {
  100%{width: 90% }
}

.card {
  background: beige;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, .08);
  transition: .3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 30px grey;
}

.card h3 {
  margin-bottom: 15px;
  color: darkolivegreen;
}

.card p {
  color: grey;
  line-height: 1.8;
}

.service-content h3 {
  margin-bottom: 15px;
  color: #222;
}

.service-content p {
  color: #666;
  line-height: 1.7;
}


.about {
  background: ivory;
  padding: 100px 0;
}

.about-container {
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

.about-image{
  flex: 1.3;
}

.skills {
  flex: 1;
  padding-left: 40px;
}

.about-image img {
  width: 100%;
  display: block;
  margin-bottom: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
}

.about-image p {
  color: #666;
  margin-bottom: 20px;
  line-height: 1.8;
}

.review {
  background: #f9b64b;
  color: white;
  padding: 100px 0;
  text-align: center;
}

.review p{
  color: #333;
  padding: 20px;
}

.review-text {
  max-width: 700px;
  margin: auto;
  font-size: 18px;
  line-height: 2;
  font-style: italic;
  margin-bottom: 35px;
}

.review h4 {
  color: #222;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 35px;
}

.blog-symbol {
  font-weight: 800;
  color: white;
  text-align: center;
  font-size: 100px;
}

.contact {
  padding: 100px 0;
  background: ivory;
}

.contact-container {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.contact-info {
  width: 40%;
}

.contact-form{
  width: 50%;
}

.contact-info h3 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #222;
}

.contact-info p {
  color: #666;
  line-height: 1.8;
  margin-bottom: 30px;
}

.follow-title{
    margin-top:40px;
    margin-bottom:20px;
    font-size:24px;
    color:#222;
    font-weight:600;
}

.social-icons{
    display:flex;
    gap: 18px;
}

.social-icons a{
    width: 45px;
    height:45px;
    border-radius:50%;
    background:#fffdf0;
    color:#555;
    display: flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    font-size:20px;
    border:1px solid #ddd;
    transition:all .3s ease;
}

.social-icons a:hover{
    background:#f9b64b;
    color:white;
    transform:translateY(-5px);
    box-shadow:0 0 18px rgba(249,182,75,.8);
}

.info-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #555;
  background: ivory;
}

.info-box i {
  width: 45px;
  height: 45px;
  background: #f9b64b;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.contact-form {
  width: 50%;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,

.contact-form textarea {
  background: #fffdf0;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #d9d9d9;
  color: #333;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: .3s;
}

.contact-form input:focus,

.contact-form textarea:focus {
  border-color: #f9b64b;
  box-shadow: 0 0 10px orange;
}

.contact-form button {
  background: #f9b64b;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: .3s;
}

.contact-form button:hover {
  background: #222;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:60px 0;
}

.footer-content h2{
    font-size:35px;
    margin-bottom:20px;
}

.footer-content p{
    color:#bbb;
    max-width:600px;
    margin:auto;
    line-height:1.8;
    margin-bottom:25px;
}

.copyright{
    color:#888;
    font-size:15px;
}

.card{
  transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 25px rgb(255, 190, 38)!important;
}

.card-img-top{
    height:240px;
    object-fit:cover;
}

.card-title{
    font-size:24px;
    font-weight: 500;
}

.card-text{
    color:#777;
    line-height:1.7;
}

.text-warning{
    font-weight:500;
}

.photos {
    padding: 100px 0;
    background: ivory;
}

@media (max-width:991.98px){

    .navbar-collapse{
      background: rgba(0, 0, 0, .9);
      margin-top: 15px;
      border-radius: 8px;
      padding: 15px;
    }

    .navbar-nav .nav-link{
      margin: 10px 0;
      text-align: center;
    }

    header{
      background: rgba(0,0,0,.9);
    }

    .hero-text{
        width:100%;
        padding-top:160px;
        text-align:center;
    }

    .hero-text h1{
        font-size:40px;
    }

    .hero-text h3{
        font-size:24px;
    }

    .section-title{
        font-size:32px;
    }

    .service-blocks{
        grid-template-columns:1fr;
    }

    .about-container{
        flex-direction:column;
    }

    .about-image{
        width:100%;
    }

    .skills{
        width:100%;
    }

    .skill-bar{
        width:100%;
    }

    .contact-container{
        flex-direction:column;
    }

    .contact-info,
    .contact-form{
        width:100%;
    }

    .card-img-top{
        height:auto;
    }
}
