html{
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.259);
  backdrop-filter: blur(1px);
  transition: background 0.3s ease;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

nav ul {

  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: .3s;
}

nav ul li a:hover {
  color: orange;
}

.hero {
  background-image: url("images/hero.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100%;
}

.hero-text {
  color: white;
  padding-top: 220px;
  width: 500px;
}

.hero-text h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero-text p {
  margin: 20px 0;
}

.btn {
  display: inline-block;
  background: #f9b64b;
  color: white;
  text-decoration: none;
  padding: 14px 30px;
  border-radius: 30px;
  transition: .3s;
}

.btn:hover {
  background: #222;
}

.services {
  background: ivory;
  padding: 100px 0;
}

.section-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;
  color: #222;
}

.service-blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 15px 5px;
  overflow: visible;
}

.card {
  background: beige;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, .08);
  transition: .3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 30px grey;
}

.card h3 {
  margin-bottom: 15px;
  color: darkolivegreen;
}

.card p {
  color: grey;
  line-height: 1.8;
}

.service-content h3 {
  margin-bottom: 15px;
  color: #222;
}

.service-content p {
  color: #666;
  line-height: 1.7;
}


.about {
  background: ivory;
  padding: 100px 0;
}

.about-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: flex-start;
}

.about-image {
  width: 50%;
}

.about-image img {
  width: 100%;
  display: block;
  margin-bottom: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
}

.about-image p {
  color: #666;
  margin-bottom: 20px;
  line-height: 1.8;
}

.review {
  background: #f9b64b;
  color: white;
  padding: 100px 0;
  text-align: center;
}

.review h2 {
  font-size: 38px;
  margin-bottom: 35px;
  font-weight: 500;
}

.review-text {
  max-width: 700px;
  margin: auto;
  font-size: 18px;
  line-height: 2;
  font-style: italic;
  margin-bottom: 35px;
}

.review h4 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 35px;
}

.review-symbol {
  font-weight: 800;
  color: white;
  text-align: center;
  font-size: 100px;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dots span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  opacity: .4;
}

.dots .active {
  opacity: 1;
}



/* .review {
  animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {

  from {

    opacity: 0;

    transform: translateY(40px);

  }

  to {

    opacity: 1;

    transform: translateY(0);

  }

} */


.contact {
  padding: 100px 0;
  background: white;
}
.contact h2{
  font-size: 50px;
  text-align: center;
  margin-bottom: 60px;
  color: #222;
}
.contact-container {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.contact-info {
  width: 40%;
}

.contact-info h3 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #222;
}

.contact-info p {
  color: #666;
  line-height: 1.8;
  margin-bottom: 30px;
}

.info-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #555;
}

.info-box i {
  width: 45px;
  height: 45px;
  background: #f9b64b;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.contact-form {
  width: 50%;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,

.contact-form textarea {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: .3s;
}

.contact-form input:focus,

.contact-form textarea:focus {
  border-color: #f9b64b;
  box-shadow: 0 0 10px orange;
}

.contact-form button {
  background: #f9b64b;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: .3s;
}

.contact-form button:hover {
  background: #222;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:60px 0;
}

.footer-content h2{
    font-size:35px;
    margin-bottom:20px;
}

.footer-content p{
    color:#bbb;
    max-width:600px;
    margin:auto;
    line-height:1.8;
    margin-bottom:25px;
}

.copyright{
    color:#888;
    font-size:15px;
}

.card{
  transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 25px rgb(255, 190, 38)!important;
}

.card-img-top{
    height:240px;
    object-fit:cover;
}

.card-title{
    font-size:24px;
    font-weight: 500;
}

.card-text{
    color:#777;
    line-height:1.7;
}

.text-warning{
    font-weight:500;
}
